[access "refs/*"]
	owner = role Administrator
	owner = role Owner
[access "refs/heads/*"]
	create = role Integrator
	forgeAuthor = role Developer
	forgeAuthor = role Integrator
	label-Code-Review = -2..+1 role Developer
	label-Code-Review = -2..+2 role Integrator
	label-Code-Review = -2..+2 role TeamLead
	label-Code-Review = -1..+1 role Reviewer
	label-Code-Review = -1..+0 role CI-system
	label-Verified = -1..+1 role Developer
	label-Verified = -1..+1 role Integrator
	label-Verified = +0..+1 role CI-system
	push = role Integrator
	pushMerge = role Integrator
	pushTag = role Integrator
	read = role CI-system
	read = role Reviewer
	read = role Developer
	read = role Integrator
	read = role TeamLead
	submit = role Developer
	submit = role Integrator
[access "refs/tags/*"]
	read = role CI-system
	read = role Reviewer
[access "refs/for/refs/heads/*"]
	forgeCommitter = role Integrator
	push = role Developer
	push = role Integrator
	pushMerge = role Developer
	pushMerge = role Integrator
[access "refs/meta/config"]
	read = role Integrator
[roles]
        Administrator = 103ab550ec0efcf08c3f3edd4bb328e92cfa0ca2
	Owner = ad13bb9aa62af4f2fb883b90442d87a51078c970
	Developer = 3f1b7c22a14914e06626ade7f0eff491e677211a
	Reviewer = 172ff71288a2b60b46e253d3c8b744a3a0540108
