[project]
	description = REST Python Wrapper (K2operator)
[access "refs/*"]
	owner = group Administrators
	owner = group Gerrit Management
[access "refs/for/refs/heads/*"]
	forgeCommitter = group pypowervm Integrator
	push = group pypowervm Developer
	push = group pypowervm Integrator
	pushMerge = group pypowervm Developer
	pushMerge = group pypowervm Integrator
[access "refs/heads/*"]
	create = group pypowervm Integrator
	forgeAuthor = group pypowervm Developer
	forgeAuthor = group pypowervm Integrator
	label-Code-Review = -2..+2 group pypowervm Integrator
	label-Code-Review = -2..+2 group pypowervm TeamLead
	label-Code-Review = -2..+1 group pypowervm Developer
	label-Code-Review = -1..+1 group pypowervm Reviewer
	label-Code-Review = -1..+0 group null47
	label-Verified = -1..+1 group pypowervm Developer
	label-Verified = -1..+1 group pypowervm Integrator
	label-Verified = +0..+1 group null47
	push = group pypowervm Integrator
	pushMerge = group pypowervm Integrator
	read = group null47
	read = group pypowervm Developer
	read = group pypowervm Integrator
	read = group pypowervm Reviewer
	read = group pypowervm TeamLead
	submit = group pypowervm Developer
	submit = group pypowervm Integrator
	createTag = group pypowervm Integrator
[access "refs/meta/config"]
	read = group pypowervm Integrator
[access "refs/tags/*"]
	read = group null47
	read = group pypowervm Reviewer
