[project]
	description = REST Python Wrapper (K2operator)
[access "refs/*"]
	owner = group Administrators
	owner = group Gerrit Management
[access "refs/for/refs/heads/*"]
	push = group pypowervm Developer
	pushMerge = group pypowervm Developer
[access "refs/heads/*"]
	forgeAuthor = group pypowervm Developer
	label-Code-Review = -2..+1 group pypowervm Developer
	label-Code-Review = -1..+1 group pypowervm Reviewer
	label-Verified = -1..+1 group pypowervm Developer
	read = group pypowervm Developer
	read = group pypowervm Reviewer
	submit = group pypowervm Developer
[access "refs/meta/config"]
[access "refs/tags/*"]
	read = group pypowervm Reviewer
