Source: pypowervm
Section: python
Priority: optional
Maintainer: Eric P. Fried <efried@us.ibm.com>
Build-Depends: debhelper(>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>

Package: pypowervm
Section: python
Priority: optional
Architecture: ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, linuxvnc(>=0.9.9), python-lxml (>=3.3.6), python-oslo.i18n (>=1.0.0), python-oslo.utils (>=1.0.0),  python-pbr (>>0.5.21),  python-pbr (<<1.0), python-pyasn1-modules (>=0.0.5), python-pyasn1 (>=0.0.12a), python-requests (>=2.3.0), python-six (>=1.7.0), python-oslo-concurrency (>=1.8.0), python-tz
Description: Python API wrapper for PowerVM
